Source: snmp++
Priority: optional
Maintainer: Florian Lohoff <f@zz.de>
Build-Depends: debhelper-compat (= 13), autotools-dev, libssl-dev 
Standards-Version: 4.5.1
Section: libs
Homepage: http://www.agentpp.com/api/cpp/snmp_pp.html
Rules-Requires-Root: no

Package: libsnmp++-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsnmp++34 (= ${binary:Version}), ${misc:Depends}
Description: C++ SNMP Library
 C++ SNMP Library

Package: libsnmp++34
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ SNMP Library
 C++ SNMP Library

Package: snmp++
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ SNMP Library userspace tools
 C++ SNMP Library userspace tools
